<div class="mt-2">

  <div class="mb-3">
    <a href="https://drive.google.com/drive/u/0/my-drive" target="_blank" mat-raised-button color="primary">
      <i class="bi bi-file-earmark-image"></i>
      <span class="ml-2 mr-2"> Get Image URL</span>  
      <i class="bi bi-link-45deg font-weight-bold"></i>
    </a>
    <!-- EXAMPLE : WHEN WE ARE USING==> <img src="https://drive.google.com/uc?export=view&id=1HlmbhSveW-WoX65NerHMaB4NPiU-Bs8j" alt=""> -->
  
  </div>

    <div class="card mx-auto" style="max-width: 36rem;" >
        <div class="card-header cardHeaderColor">
            <i class="bi bi-grid-1x2-fill" style="color: #0000FF;"></i>
            Create Root Category
        </div>
        <div class="card-body">

            <!-- FORM STARTING -->
            <form  (ngSubmit)="updateRootCategory()" >
                <div class="form-row">

                  <div class="col-6">
                    <label class="text-primary" >Root Category Name</label>
                    <input type="text"
                     class="form-control"
                     [(ngModel)]="rootCategoryForm.rootCategoryName" name="rootCategoryName"
                      placeholder="root name">
                  </div>

                  <div class="col">
                    <label class="text-primary" >Default Name</label>
                    <input type="text"
                     class="form-control"
                     [(ngModel)]="rootCategoryForm.defaultName" name="defaultName"
                      placeholder="default name">
                  </div>
                  
                </div>

                <div class="form-row mt-3">
                  <div class="col">
                    <label class="text-primary" >Seq Name</label>
                    <input type="text"
                     class="form-control"
                     [(ngModel)]="rootCategoryForm.sequenceNum" name="sequenceNum"
                      placeholder="default name">
                  </div>
                  </div>
  

                <div class="form-group mt-3">
                    <label class="text-primary" >Short Description</label>
                    <textarea class="form-control" 
                    placeholder="short description" 
                    [(ngModel)]="rootCategoryForm.shortDescription" name="shortDescription"
                    rows="3"></textarea>
                  </div>

                  <div class="form-group mt-3">
                    <label class="text-primary" >Long Description</label>
                    <textarea class="form-control" 
                     placeholder="Long description"
                     [(ngModel)]="rootCategoryForm.longDescription" name="longDescription"
                      rows="3"></textarea>
                  </div>

                  <div class="form-group mt-3">
                    <label class="text-primary" > 
                       <i class="bi bi-file-earmark-image"></i>
                        File URL IF ANY
                      </label>
                   <input type="text"
                   class="form-control"
                   [(ngModel)]="rootCategoryForm.fileUrl" name="fileUrl"
                    placeholder="fileUrl">
                  </div>

                  <div class="col">
                    <label class="text-primary" >bg color</label>
                    <input type="color"
                     class="form-control"
                     [(ngModel)]="rootCategoryForm.bgColor" name="bgColor"
                      >
                  </div>

                  <!-- <div>
                    <select class="custom-select" (change)="selectBannerType($event)">
                      <option selected disabled>Choose...</option>
                      <option  [value]="node.bannerTypeName" *ngFor="let node of bannerTypeData">
                              {{node.id}} = 
                              {{node.bannerTypeName}}
                      </option>
                    </select>
                  </div> -->

                  <div class="text-center mt-3">
                    <button mat-raised-button color="primary">UPDATE ROOT CATEGORY</button>
                   </div>


              </form>   
                <!-- FORM ENDING -->


        </div>
    </div>

</div>

<div class="mt-3">
    <button mat-button mat-dialog-close>Close</button>
</div>


<!-- PROGRESS BAR -->
<div class="pB"  *ngIf="progressBar.dynamicValue" >
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
   </div>
