<!-- PROGRESS BAR -->
<div class="pB"  *ngIf="progressBar.dynamicValue" >
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
   </div>
  
  
  
  <div class="container mt-5">
  
      
  
      <div class="card mx-auto" style="max-width: 50rem;margin-bottom: 100px;" >
          <div class="card-header cardHeaderColor">
              <i class="bi bi-grid-1x2-fill" style="color: #0000FF;"></i>
              Create Question Set
          </div>
          <div class="card-body">
  
              <!-- FORM STARTING -->
              <form  (ngSubmit)="createQuestionSet()" >

                  <div class="form-row">
  
                    <div class="col-6">
                      <label class="text-primary" >Question Set Name</label>
                      <input type="text"
                       class="form-control"
                       [(ngModel)]="questionSetForm.questionSetName" name="questionSetName"
                        placeholder="Question Set Name">
                    </div>
  
                    <div class="col">
                      <label class="text-primary" >Default Name</label>
                      <input type="text"
                       class="form-control"
                       [(ngModel)]="questionSetForm.defaultName" name="defaultName"
                        placeholder="default name">
                    </div>
                    
                  </div>
  
                  <div class="form-row mt-3">
  
                    <div class="col-4">
                      <label class="text-primary" >Pass Percentage</label>
                      <input type="number"
                       class="form-control"
                       [(ngModel)]="questionSetForm.passPercentage" name="passPercentage"
                        placeholder="Question Set Name">
                    </div>
  
                    <div class="col">
                      <label class="text-primary" >Question Set Duration</label>
                      <input type="number"
                       class="form-control"
                       [(ngModel)]="questionSetForm.questionSetDuration" name="questionSetDuration"
                        placeholder="default name">
                    </div>

                    <div class="col">
                        <label class="text-primary" >Experience</label>
                        <input type="number"
                         class="form-control"
                         [(ngModel)]="questionSetForm.experience" name="experience"
                          placeholder="default name">
                      </div>
                    
                  </div>

                  <div class="form-row mt-3">
                    <div class="col">
                      <label class="text-primary" >Paragraph</label>
                      <input type="text"
                       class="form-control"
                       [(ngModel)]="questionSetForm.paragraph" name="paragraph"
                        placeholder="Paragraph">
                    </div>
                    </div>

                  <div class="form-row mt-3">
                    <div class="col">
                      <label class="text-primary" >Seq Name</label>
                      <input type="number"
                       class="form-control"
                       [(ngModel)]="questionSetForm.sequenceNum" name="sequenceNum"
                        placeholder="Sequence">
                    </div>
                    </div>


                  <div class="form-row mt-3">
                    <div class="col">
                      <label class="text-primary" >Title</label>
                      <input type="text"
                       class="form-control"
                       [(ngModel)]="questionSetForm.title" name="title"
                        placeholder="Title">
                    </div>
                    </div>

               
  
  
                  <div class="form-group mt-3">
                      <label class="text-primary" >Short Description</label>
                      <textarea class="form-control" 
                      placeholder="short description" 
                      [(ngModel)]="questionSetForm.shortDescription" name="shortDescription"
                      rows="3"></textarea>
                    </div>
  
                    <div class="form-group mt-3">
                      <label class="text-primary" >Long Description</label>
                      <textarea class="form-control" 
                       placeholder="Long description"
                       [(ngModel)]="questionSetForm.longDescription" name="longDescription"
                        rows="3"></textarea>
                    </div>
  
                   <div>
                    <label class="text-primary" >Branch List</label>
                      <select class="custom-select" (change)="selectBranchId($event)">
                        <option selected disabled>Choose...</option>
                        <option  [value]="node.id" *ngFor="let node of branchList">
                                {{node.id}} = 
                                {{node.branchName}}
                        </option>
                      </select>
                    </div>
               
   
                    <div class="mt-3">
                        <label class="text-primary" >Chapter List</label>
                        <select class="custom-select" (change)="selectChapterId($event)">
                          <option selected disabled>Choose...</option>
                          <option  [value]="node.id" *ngFor="let node of chapterList">
                                  {{node.id}} = 
                                  {{node.chapterName}}
                          </option>
                        </select>
                    </div>
  
                    <div class="text-center mt-3">
                      <button mat-raised-button color="primary">CREATE QUESTION SET</button>
                     </div>
  
  
                </form>   
                  <!-- FORM ENDING -->
  
  
          </div>
      </div>
  
  </div>