<!-- PROGRESS BAR -->
<div class="pB"  *ngIf="progressBar.dynamicValue" >
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
   </div>
  
  
  
  <div class="container mt-5">
  
      
  
      <div class="card mx-auto" style="max-width: 36rem;" >
          <div class="card-header cardHeaderColor">
              <i class="bi bi-grid-1x2-fill" style="color: #0000FF;"></i>
              Update Chapter
          </div>
          <div class="card-body">
  
              <!-- FORM STARTING -->
              <form  (ngSubmit)="updateChapter()" >
                  <div class="form-row">
  
                    <div class="col-6">
                      <label class="text-primary" >Chapter Name</label>
                      <input type="text"
                       class="form-control"
                       [(ngModel)]="chapterForm.chapterName" name="chapterName"
                        placeholder="Chapter Name">
                    </div>
  
                    <div class="col">
                      <label class="text-primary" >Default Name</label>
                      <input type="text"
                       class="form-control"
                       [(ngModel)]="chapterForm.defaultName" name="defaultName"
                        placeholder="default name"> 
                    </div>
                    
                  </div>
  
                  <div class="form-row mt-3">
                  <div class="col">
                    <label class="text-primary" >Seq Name</label>
                    <input type="text"
                     class="form-control"
                     [(ngModel)]="chapterForm.sequenceNum" name="sequenceNum"
                      placeholder="Sequence">
                  </div>
                  </div>
  
  
                  <div class="form-group mt-3">
                      <label class="text-primary" >Short Description</label>
                      <textarea class="form-control" 
                      placeholder="short description" 
                      [(ngModel)]="chapterForm.shortDescription" name="shortDescription"
                      rows="3"></textarea>
                    </div>
  
                    <div class="form-group mt-3">
                      <label class="text-primary" >Long Description</label>
                      <textarea class="form-control" 
                       placeholder="Long description"
                       [(ngModel)]="chapterForm.longDescription" name="longDescription"
                        rows="3"></textarea>
                    </div>
  
               
  
                    <div>
                        <select class="custom-select" (change)="selectChapterId($event)">
                          <option selected disabled>Choose...</option>
                          <option  [value]="node.id" *ngFor="let node of branchList">
                                  <div *ngIf="chapterForm.branchModel.id == node.id">
                                    {{node.id}} =  {{node.branchName}} ==>> [SELECTED]
                                  </div>
   
                               <div *ngIf="chapterForm.branchModel.id != node.id">
                                   {{node.id}} = {{node.branchName}}
                               </div>
                          </option>
                        </select>
                      </div>
  
                    <div class="text-center mt-3">
                      <button mat-raised-button color="primary">UPDATE BRANCH</button>
                     </div>
  
  
                </form>   
                  <!-- FORM ENDING -->
  
  
          </div>
      </div>
  
  </div>