<!-- PROGRESS BAR -->
<div class="pB"  *ngIf="progressBar.dynamicValue" >
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
   </div>


<div class="container mt-5">

  <button mat-button style="background-color: #AED6F1;" >SUB CATEGORY</button>

    <!-- TABLE STARTING -->
    <table class="table table-sm">
        <thead class="cardHeaderColor">
          <tr>
            <th scope="col">id</th>
            <th scope="col">sub-category</th>
            <th scope="col">default-name</th>
            <th scope="col">Short-Desc</th>
            <th scope="col">Long-Desc</th>
            <th scope="col">DT</th>
            <th scope="col">seq-num</th>
            <th scope="col">status</th>
            <th scope="col">update</th>
            <th scope="col">remove</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let node of fetchSubCategory; let i = index" >
            <th scope="row">{{node.id}}</th>

            <td>
              {{node.subCategoryName}}
              <p class="text-success" style="font-size: 11px;">
                [{{node.rootCategoryModel.rootCategoryName}}]
                </p>
            </td>

            <td>{{node.defaultName}}</td>
            <td>{{node.shortDescription}}</td>
            <td>{{node.longDescription}}</td>
            <td>{{node.storingDateTime}}</td>
            <td>{{node.sequenceNum}}</td>

            <td>
              <mat-slide-toggle [(ngModel)]="node.status" (click)="changeStatus(node.status,node)" ></mat-slide-toggle>
              <!-- {{node.status}} -->
          </td>

           <td>
            <a mat-button  [routerLink]="'/dashboard/updateSubCategory/'+node.id" >
              <i class="bi bi-pencil-square"  style="font-size: 18px;" ></i>
              Update
            </a>
           </td>

           <td>
               <button mat-button  (click)="removeSubCategory(node.id)" >
                <i class="bi bi-backspace-reverse-fill" style="color: #EA1025;" ></i> Remove
            </button>
           </td>

          </tr>
        </tbody>
      </table>
      
      <!-- TABLE ENDING -->

</div>