<div class="container-fluid">

    <div class="row">

      <div class="col-sm-2">
        <div class="mt-3">
            <label class="text-primary" >ROOT CATEGORY</label>
            <select class="custom-select" (change)="selectRootCategory($event)">
              <option selected disabled>Choose...</option>
              <option  [value]="node.id" *ngFor="let node of fetchRootCategory">
                      {{node.id}} = 
                      {{node.rootCategoryName}}
              </option>
            </select>
        </div>
    </div>

          <div class="col-sm-2">
            <div class="mt-3">
                <label class="text-primary" >SUB CATEGORY</label>
                <select class="custom-select"  (change)="selectSubCategory($event)" >
                  <option selected disabled>Choose...</option>
                  <option  [value]="node.id" *ngFor="let node of subCategoryList">
                          {{node.id}} = 
                          {{node.subCategoryName}}
                  </option>
                </select>
            </div>
        </div>


        <div class="col-sm-2">
            <div class="mt-3">
                <label class="text-primary" >Bottom</label>
                <select class="custom-select" (change)="selectBottomCategory($event)">
                  <option selected disabled>Choose...</option>
                  <option  [value]="node.id" *ngFor="let node of bottomCategoryList">
                          {{node.id}} = 
                          {{node.bottomCategoryName}}
                  </option>
                </select>
            </div>
        </div>

        <div class="col-sm-2">
                <div class="mt-3">
                    <label class="text-primary" >Branch</label>
                    <select class="custom-select" (change)="selectBranchCategory($event)" >
                      <option selected disabled>Choose...</option>
                      <option  [value]="node.id" *ngFor="let node of branchList">
                              {{node.id}} = 
                              {{node.branchName}}
                      </option>
                    </select>
                </div>
        </div>

        <div class="col-sm-2">
            <div class="mt-3">
                <label class="text-primary" >Chapters</label>
                <select class="custom-select"   (change)="selectChapter($event)" >
                  <option selected disabled>Choose...</option>
                  <option  [value]="node.id" *ngFor="let node of chapterList">
                          {{node.id}} = 
                          {{node.chapterName}}
                  </option>
                </select>
            </div>
       </div>

          <div class="col-sm-2">
            <div class="mt-3">
                <label class="text-primary" >Question-Set</label>
                <select class="custom-select"   (change)="selectQuestionSet($event)">
                  <option selected >Choose...</option>
                  <option  [value]="node.id" *ngFor="let node of questionSetList">
                          {{node.id}} = 
                          {{node.questionSetName}}
                  </option>
                </select>
            </div>
      </div>
        <!-- PROGRESS BAR -->
        <div class="pB"  *ngIf="progressBar.dynamicValue" >
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>


    </div>
    <!-- //ROW FINISH -->


    <div class="container-fluid mt-5">

        <div class="row">

            <div class="col-sm-3" *ngFor="let node of questionSetList">
                <div class="card" style="background-color: #FDEBD0;">
                    <div class="card-body ">
                      <a target="_blank" [routerLink]="'/dashboard/updateQuestionSet/'+node.id" >
                        <p class="text-center text-dark">
                            {{node.questionSetName}}
                        </p>
                      </a>
                    </div>
                  </div>
            </div>

        </div>

    </div>


    <!-- Question Answer List -->
  
    <div class="container-fluid mt-5">
      <hr>

      <div class="row">

          <div class="col-sm-3" *ngFor="let node of questionAnswerList">
              <div class="card mt-4" style="background-color: #EAFAF1;">
                  <div class="card-body ">
                    
                    <a target="_blank" [routerLink]="'/dashboard/updateQuestionSet/'+node.id" >
                      <p class="text-dark">
                          <span style="font-size: 10px;margin-right: 3px;">{{node.id}} ]</span>
                          <b>Q.</b>
                          <span class="mr-2">{{node.question}}</span>
                      </p>
                    </a>

                    <a mat-raised-button target="_blank" style="background-color: #ABEBC6;"
                     [routerLink]="'/dashboard/updateQuestionAnswer/'+node.id">
                    updateQuestion
                    </a>

                    <a mat-raised-button target="_blank" style="background-color: #D7BDE2;margin-left: 10px;"
                     [routerLink]="'/dashboard/updateQuestionAnswer/'+node.id">
                      Answer = {{node.ansNameKey}}
                    </a>

                    <a mat-raised-button target="_blank" style="background-color: #FCF3CF;margin-left: 10px;margin-top: 10px;"
                    [routerLink]="'/dashboard/uploadQuestionFiles/'+node.id">
                     Upload Files
                   </a>


                   

                  </div>
                </div>
          </div>

      </div>

  </div>
      <!-- Question Answer List /////-->


</div>
