<div class="container mt-5">

    <div class="row">

        <div class="col-sm-3">
            <div class="card cardWidth mx-auto">
                <div class="card-header cardHeaderColor">
                  ROOT CATEGORY
                </div>
                <div class="card-body">
                    <p>
                        <i class="bi bi-app-indicator bootColorIndicator" ></i>
                        <a routerLink="/dashboard/rootCategory" class="anchorTagP">
                              create root category
                        </a>
                    </p>
                    <p>
                        <i class="bi bi-app-indicator bootColorIndicator" ></i>
                        <a routerLink="/dashboard/fetchRootCategory" class="anchorTagP">
                               Fetch root category
                        </a>
                    </p>
                </div>
              </div>
        </div>


        <div class="col-sm-3">
            <div class="card cardWidth mx-auto">
                <div class="card-header cardHeaderColor">
                  SUB CATEGORY
                </div>
                <div class="card-body">
                    <p>
                        <i class="bi bi-app-indicator bootColorIndicator" ></i>
                        <a routerLink="subCategory" class="anchorTagP">
                              create sub category
                        </a>
                    </p>

                    <p>
                        <i class="bi bi-app-indicator bootColorIndicator" ></i>
                        <a routerLink="fetchSubCategory" class="anchorTagP">
                              Fetch sub category
                        </a>
                    </p>
                </div>
              </div>
        </div>


        
        <div class="col-sm-3">
            <div class="card cardWidth mx-auto">
                <div class="card-header cardHeaderColor">
                  BOTTOM CATEGORY
                </div>
                <div class="card-body">
                    <p>
                        <i class="bi bi-app-indicator bootColorIndicator" ></i>
                        <a routerLink="bottomCategory" class="anchorTagP">
                              create bottom category
                        </a>
                    </p>

                    <p>
                        <i class="bi bi-app-indicator bootColorIndicator" ></i>
                        <a routerLink="fetchBottomCategory" class="anchorTagP">
                              Fetch bottom category
                        </a>
                    </p>
                </div>
              </div>
        </div>
        
         <div class="col-sm-3">
            <div class="card cardWidth mx-auto">
                <div class="card-header cardHeaderColor">
                BRANCH
                </div>
                <div class="card-body">
                    <p>
                        <i class="bi bi-app-indicator bootColorIndicator" ></i>
                        <a routerLink="branch" class="anchorTagP">
                              create branch
                        </a>
                    </p>

                    <p>
                        <i class="bi bi-app-indicator bootColorIndicator" ></i>
                        <a routerLink="fetchBranch" class="anchorTagP">
                              Fetch branch
                        </a>
                    </p>

                </div>
              </div>
        </div>


        <div class="col-sm-3 mt-5">
            <div class="card cardWidth mx-auto">
                <div class="card-header cardHeaderColor">
                  CHAPTERS
                </div>
                <div class="card-body">
                    <p>
                        <i class="bi bi-app-indicator bootColorIndicator" ></i>
                        <a routerLink="/dashboard/chapter" class="anchorTagP">
                              create chapters
                        </a>
                    </p>
                    <p>
                        <i class="bi bi-app-indicator bootColorIndicator" ></i>
                        <a routerLink="/dashboard/fetchChapters" class="anchorTagP">
                               Fetch chapters   
                        </a>
                    </p>
                </div>
              </div>
        </div>


        <div class="col-sm-3 mt-5">
            <div class="card cardWidth mx-auto">
                <div class="card-header cardHeaderColor">
                  QUESTION-SET
                </div>
                <div class="card-body">
                    <p>
                        <i class="bi bi-app-indicator bootColorIndicator" ></i>
                        <a routerLink="/dashboard/questionSet" class="anchorTagP">
                              create question-set
                        </a>
                    </p>
                    <p>
                        <i class="bi bi-app-indicator bootColorIndicator" ></i>
                        <a routerLink="/dashboard/fetchQuestionSet" class="anchorTagP">
                              Fetch question-set
                        </a>
                    </p>
                    <!-- <p  >
                        <i class="bi bi-app-indicator bootColorIndicator" ></i>
                        <a routerLink="/dashboard/fetchQuestionsWay" class="anchorTagP">
                              Get question-way
                        </a>
                    </p> -->

                    
                </div>
              </div>
        </div>



        <div class="col-sm-3 mt-5">
            <div class="card cardWidth mx-auto">
                <div class="card-header cardHeaderColor">
                  QUESTION-ANSWER
                </div>
                <div class="card-body">
                    <p>
                        <i class="bi bi-app-indicator bootColorIndicator" ></i>
                        <a routerLink="/dashboard/questionAnswer" class="anchorTagP">
                              create question answer
                        </a>
                    </p>

                    <p>
                        <i class="bi bi-app-indicator bootColorIndicator" ></i>
                        <a routerLink="/dashboard/fetchQuestionAnswer" class="anchorTagP">
                              Fetch question-answer
                        </a>
                    </p>
                </div>
              </div>
        </div>


        <div class="col-sm-3 mt-5">
            <div class="card cardWidth mx-auto">
                <div class="card-header cardHeaderColor">
                 WAY-QR-TR
                </div>
                <div class="card-body">
                    <p>
                        <i class="bi bi-chevron-double-right bootColorIndicator"></i>
                        <a routerLink="/dashboard/fetchQuestionsWay" class="anchorTagP">
                             QWT-way
                        </a>
                    </p>

                    
                </div>
              </div>
        </div>





    <div class="col-sm-3 mt-5">
        <div class="card cardWidth mx-auto">
            <div class="card-header cardHeaderColor">
              FILE RESOURCE [PDF]
            </div>
            <div class="card-body">
                <p>
                    <i class="bi bi-app-indicator bootColorIndicator" ></i>
                    <a routerLink="/dashboard/saveFileResource" class="anchorTagP">
                          create Resource [PDF]
                    </a>
                </p>
                <!-- <p>
                    <i class="bi bi-app-indicator bootColorIndicator" ></i>
                    <a routerLink="/dashboard/fetchChapters" class="anchorTagP">
                           Fetch chapters   
                    </a>
                </p> -->
            </div>
          </div>
    </div>


    <!-- SHOW QUESTIONS LIST [FILTER] -->
    <div class="col-sm-3 mt-5">
        <div class="card cardWidth mx-auto">
            <div class="card-header cardHeaderColor">
              QUESTION LIST
            </div>
            <div class="card-body">
                <p>
                    <i class="bi bi-app-indicator bootColorIndicator" ></i>
                    <a routerLink="/dashboard/questionList" class="anchorTagP">
                          Question List
                    </a>
                </p>
            </div>
          </div>
    </div>


     <!-- ROOT TO END [FILTER] -->
     <div class="col-sm-3 mt-5">
        <div class="card cardWidth mx-auto">
            <div class="card-header cardHeaderColor">
              ROOT TO END
            </div>
            <div class="card-body">
                <p>
                    <i class="bi bi-app-indicator bootColorIndicator" ></i>
                    <a routerLink="/dashboard/rootToEnd" class="anchorTagP">
                         ROOT TO END
                    </a>
                </p>
            </div>
          </div>
    </div>




</div>
<!-- ROW-ENDING -->


</div>