<div class="container mt-5">

    <div class="row">

        <div class="col-sm-3">
            <div class="card cardWidth mx-auto">
                <div class="card-header cardHeaderColor">
                  ROOT CATEGORY
                </div>
                <div class="card-body">
                    <p>
                        <i class="bi bi-app-indicator bootColorIndicator" ></i>
                        <a routerLink="/dashboard/rootCategory" class="anchorTagP">
                              create root category
                        </a>
                    </p>
                    <p>
                        <i class="bi bi-app-indicator bootColorIndicator" ></i>
                        <a routerLink="/dashboard/fetchRootCategory" class="anchorTagP">
                               Fetch root category
                        </a>
                    </p>
                </div>
              </div>
        </div>


        <div class="col-sm-3">
            <div class="card cardWidth mx-auto">
                <div class="card-header cardHeaderColor">
                  SUB CATEGORY
                </div>
                <div class="card-body">
                    <p>
                        <i class="bi bi-app-indicator bootColorIndicator" ></i>
                        <a routerLink="subCategory" class="anchorTagP">
                              create sub category
                        </a>
                    </p>

                    <p>
                        <i class="bi bi-app-indicator bootColorIndicator" ></i>
                        <a routerLink="fetchSubCategory" class="anchorTagP">
                              Fetch sub category
                        </a>
                    </p>
                </div>
              </div>
        </div>


        
        <div class="col-sm-3">
            <div class="card cardWidth mx-auto">
                <div class="card-header cardHeaderColor">
                  BOTTOM CATEGORY
                </div>
                <div class="card-body">
                    <p>
                        <i class="bi bi-app-indicator bootColorIndicator" ></i>
                        <a routerLink="bottomCategory" class="anchorTagP">
                              create bottom category
                        </a>
                    </p>

                    <p>
                        <i class="bi bi-app-indicator bootColorIndicator" ></i>
                        <a routerLink="fetchBottomCategory" class="anchorTagP">
                              Fetch bottom category
                        </a>
                    </p>
                </div>
              </div>
        </div>
        
         <div class="col-sm-3">
            <div class="card cardWidth mx-auto">
                <div class="card-header cardHeaderColor">
                BRANCH
                </div>
                <div class="card-body">
                    <p>
                        <i class="bi bi-app-indicator bootColorIndicator" ></i>
                        <a routerLink="branch" class="anchorTagP">
                              create branch
                        </a>
                    </p>

                    <p>
                        <i class="bi bi-app-indicator bootColorIndicator" ></i>
                        <a routerLink="fetchBranch" class="anchorTagP">
                              Fetch branch
                        </a>
                    </p>

                </div>
              </div>
        </div>


        <div class="col-sm-3 mt-5">
            <div class="card cardWidth mx-auto">
                <div class="card-header cardHeaderColor">
                  CHAPTERS
                </div>
                <div class="card-body">
                    <p>
                        <i class="bi bi-app-indicator bootColorIndicator" ></i>
                        <a routerLink="/dashboard/chapter" class="anchorTagP">
                              create chapters
                        </a>
                    </p>
                    <p>
                        <i class="bi bi-app-indicator bootColorIndicator" ></i>
                        <a routerLink="/dashboard/fetchChapters" class="anchorTagP">
                               Fetch chapters
                        </a>
                    </p>
                </div>
              </div>
        </div>

    </div>
    <!-- ROW-ENDING -->

</div>