<div id="app">
  <nav class="navbar navbar-expand navbar-dark text-dark bg-primary">

    <a href="#" class="navbar-brand " >
      <i class="bi bi-book-half" style="color: white;font-size: 22px;"></i>
      EXAM-SECURE AD
    </a>

    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <!-- <li class="nav-item">
        <a href="/" class="nav-link" routerLink="home">Home </a>
      </li> -->
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!tokenStorageService.isLoggedIn()">
      <li class="nav-item">
        <a href="/register" class="nav-link colorText" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link colorText" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="tokenStorageService.isLoggedIn()">
      <!-- <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li> -->
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div>
    <router-outlet></router-outlet>
  </div>
</div>
