<!-- PROGRESS BAR -->
<div class="pB"  *ngIf="progressBar.dynamicValue" >
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
   </div>


<div class="container mt-5">

  <button mat-button style="background-color: #AED6F1;" >QUESTION SET</button>

    <!-- TABLE STARTING -->
    <table class="table table-sm">
        <thead class="cardHeaderColor">
          <tr>
            <th scope="col">id</th>
            <th scope="col">Question-SN</th>
            <th scope="col">Default-Name</th>
            <th scope="col">Short-Desc</th>
            <th scope="col">Long-Desc</th>
            <th scope="col">DT</th>
            <th scope="col">seq-num</th>
            <th scope="col">status</th>
            <th scope="col">File</th>
            <th scope="col">upload_FILE</th>
            <th scope="col">update</th>
            <th scope="col">remove</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let node of questionSetList; let i = index" >
            <th scope="row">{{node.id}} </th>

            <td>
              {{node.questionSetName}}
             <p class="text-success" style="font-size: 11px;">
             [{{node.chaptersModel.chapterName}}]
             </p>
            </td>

            <td>{{node.defaultName}}</td>
            <td>{{node.shortDescription}}</td>
            <td>{{node.longDescription}}</td>
            <td>{{node.storingDateTime}}</td>
            <td>{{node.sequenceNum}}</td>

            <td>
              <mat-slide-toggle [(ngModel)]="node.status" (click)="changeStatus(node.status,node)" ></mat-slide-toggle>
              <!-- {{node.status}} -->
          </td>

          <td>
            <div  *ngIf="node.fileUrl != '' ">
              <img src="{{node.fileUrl}}"  alt="File" height="50">
            </div>

            <div *ngIf="node.fileUrl == ''">
              <i class="bi bi-image-fill" style="color: #FFBF00;"></i >
            </div>
        </td>

          <td>
            <button mat-raised-button class="uploadFile" (click)="uploadFileQuestionSet(node.id)" >
              <i class="bi bi-camera-fill"   style="font-size: 18px;" ></i>
              uploadFile
            </button>

           <td>
            <a mat-button [routerLink]="'/dashboard/updateQuestionSet/'+node.id"  >
              <i class="bi bi-pencil-square"  style="font-size: 18px;" ></i>
              Update
            </a>
           </td>

           <td>
               <button type="button" class="btn btn-sm btn-outline-danger" (click)="removeQuestionSetById(node.id)" >
                <i class="bi bi-backspace-reverse-fill" ></i> Remove
            </button>
           </td>

          </tr>
        </tbody>
      </table>
      
      <!-- TABLE ENDING -->

</div>