<!-- PROGRESS BAR -->
<div class="pB"  *ngIf="progressBar.dynamicValue" >
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
   </div>


   
<div class="container mt-5">

  <button mat-button style="background-color: #AED6F1;" >
    QUESTION ANSWER
  </button>

    <!-- TABLE STARTING -->
    <table class="table table-sm">
        <thead class="cardHeaderColor">
          <tr>
            <th scope="col">id</th>
            <th scope="col">Question</th>
            <th scope="col">Ans</th>
            <th scope="col">Ans_ON</th>
            <th scope="col">option-1</th>
            <th scope="col">option-2</th>
            <th scope="col">option-3</th>
            <th scope="col">option-2</th>
            <th scope="col">status</th>
            <th scope="col">Upload_Files</th>
            <th scope="col">seqNum</th>
            <th scope="col">update</th>
            <th scope="col">remove</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let node of questionAnswerList; let i = index" >
            <th scope="row">{{node.id}} </th>

            <td>
              <p  style="font-size: 12px;">
                  {{node.question}}
              </p>

              <span class="text-success" style="font-size: 11px;color: #34495E;">
                <i class="bi bi-book-fill"></i>
                [{{node.questionSetsModel.questionSetName}}]
              </span>

              <span class="text-success" style="font-size: 11px;color: #34495E;">
                <i class="bi bi-book-fill"></i>
                [{{node.questionSetsModel.chaptersModel.chapterName}}]
              </span>

              <span class="text-success" style="font-size: 11px;color: #34495E;">
                <i class="bi bi-book-fill"></i>
                [{{node.questionSetsModel.chaptersModel.branchModel.branchName}}]
              </span>

              <span class="text-success" style="font-size: 11px;color: #34495E;">
                <i class="bi bi-book-fill"></i>
                [{{node.questionSetsModel.chaptersModel.branchModel.bottomCategoryModel.bottomCategoryName}}]
              </span>

              <span class="text-success" style="font-size: 11px;color: #34495E;">
                <i class="bi bi-book-fill"></i>
                [{{node.questionSetsModel.chaptersModel.branchModel.bottomCategoryModel.subCategoryModel.subCategoryName}}]
              </span>

              <span class="text-success" style="font-size: 11px;color: #34495E;">
                <i class="bi bi-book-fill"></i>
                [{{node.questionSetsModel.chaptersModel.branchModel.bottomCategoryModel.subCategoryModel.rootCategoryModel.rootCategoryName}}]
              </span>

            </td>

            <td>{{node.ansKey}}</td>
            <td><b>{{node.ansNameKey}}</b></td>
            <td>{{node.option1}}</td>
            <td>{{node.option2}}</td>
            <td>{{node.option3}}</td>
            <td>{{node.option4}}</td>

            <td>
              <mat-slide-toggle [(ngModel)]="node.status" (click)="changeStatus(node.status,node)" ></mat-slide-toggle>
              <!-- {{node.status}} -->
          </td>

          <td>
            <a mat-button [routerLink]="'/dashboard/uploadQuestionFiles/'+node.id"  >
              <i class="bi bi-camera-fill"   style="font-size: 18px;" ></i>
              upload-Files
            </a>
          </td>

            <td>{{node.sequenceNum}}</td>

           <td>
            <a mat-button [routerLink]="'/dashboard/updateQuestionAnswer/'+node.id"  >
              <i class="bi bi-pencil-square"  style="font-size: 18px;" ></i>
              Update
            </a>
           </td>

           <td>
               <button type="button" class="btn btn-sm btn-outline-danger" (click)="removeQuestionAnswer(node.id)" >
                <i class="bi bi-backspace-reverse-fill" ></i> Remove
            </button>
           </td>

          </tr>
        </tbody>
      </table>
      
      <!-- TABLE ENDING -->

</div>